.adminDetails{
    /* background-color: red; */
    border-radius: 10px;
    width: 70vw;
    min-width: 100px;
    max-width: 80vw;
    box-shadow: 1px 1px 5px black;
    padding: 10px;
    padding-bottom: 20px;
}
.adminDetails p{
    text-align: start;
    margin-left: 20px;
}
.adminPage{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}