.login-page {
    background-image: url("./assets/bg.jpg");
    height: 100vh; /* Set height to full viewport height */
    width: 100vw; /* Set width to full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; /* Use 'cover' to ensure the background image covers the entire element */
    filter: brightness(0.8) saturate(120%) opacity(0.9);
}

.form button,
.form input {
    background: transparent;
}
.form {
    /* background-color:; */

    border: 1px black solid;
    border-radius: 30px;
    box-shadow: 1px 1px 30px 1px black;
    height: 400px;
    width: clamp(400px, 50%, 600px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Adjust the pixel value for more or less blur */
    -webkit-backdrop-filter: blur(10px); /* For better browser support */
    border-radius: 10px; /* Optional: for rounded corners */
    padding: 20px; /* Optional: for some inner padding */
    border: 1px solid rgba(255, 255, 255, 0.3); 
}
.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form button {
    width: 100px;
    height: 40px;
    align-self: center;
    border-radius: 15px;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #71bcaa;
}
.form button:hover {
    scale: 1.05;
    transition: ease-out 100ms;
    background-color: #60a091;
    box-shadow: 0px 0px 10px 1px black;
}
.form label {
    font-size: 2rem;
    border: 1px black solid;
    height: 40px;
    width: 40px;
    box-shadow: 0px 0px 30px 0px black;
}
.form input {
    padding-left: 15px;
    height: 30px;
    width: 60%;
    background-color: #71bcaa80;
    border: 0px;
    font-size: 1.25rem;
    border-radius: 5px;
    box-shadow: inset 0px 0px 1px 1px black;
    font-family: "Times New Roman", Times, serif;
}
.userinput input::placeholder,.passinput input::placeholder {
    color:#3A3A3A; /* Change this to your desired color */
    opacity: 1; /* Ensure the color is fully opaque (1) */
}

.userinput,
.passinput {
    display: flex;
    justify-content: space-evenly;
}
form p {
    margin: 0;
    padding: 0;
    color:#71bcaa;
    /* color: #60A091; */
    cursor: pointer;
    /* background-color: antiquewhite; */
    /* box-shadow: 0 0 1px 1px black; */
}
.showpass{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.admin-text p{
    color: white;
    cursor: pointer;
}
.title p{
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
.userinput input{
    margin-right: 55px;
}